body {
    background-color: #ffffff;
    color: #434455;
font-family: 'Roboto', sans-serif;
}
/* header logo */
.header-navigation {
    text-decoration: none;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: #4D5AE5;
letter-spacing: 0.03em 
}
.link1 {
        text-decoration: none;
        text-transform: uppercase
    }

.logo {
    
    font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: #4D5AE5;
letter-spacing: 0.03em 
}
.logo2 {
    
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #2E2F42;
}
/* site nav */
.list {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase
}
.header-item {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.section {
background: #2E2F42;
}
.section-btn {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

    font-weight: 500;
font-size: 16px;
line-height: 1.5px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.section-logo {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
color: #FFFFFF;
}