/* body text SLATE #434455 */
/*  primary brand #4D5AE5 */
/*  shadow,headings #2E2F42 */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2e2f42;
    --accent-color: #4d5ae5;
    --button-background-color: #f4f4fd;
    --background-color: #404BBF;
    --white-color: #ffffff;
    --cornflower-color: #E7E9FC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header logo */
.header-page {
    border-bottom: 1px solid var(--cornflower-color);
}

.link {
    text-decoration: none;
}

.header-container {
    display: flex;

}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-margin {
    margin-right: 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--accent-color);
    letter-spacing: 0.03em
}

.logo2 {
    color: var(--title-text-color)
}

.logo-margin {
    margin-right: 76px;
}

/* site nav */
.site-nav {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
}

.site-navigation.link:hover,
.site-navigation.link:focus {
    color: var(--background-color)
}

.adress-nav {
    display: flex;
}

.adress-item:last-child {
    margin-right: 0;
    margin-left: 40px;
}

.adress-navigation.link:hover,
.adress-navigation.link:focus {
    color: var(--background-color)
}

.adress-navigation.link {
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 24px;
    width: 152px;
    display: block;
}

.site-navigation.link {
    margin-left: 0;
    margin-right: 40px;
    color: var(--title-text-color);
}

.item:last-child {
    margin-right: 332px;
}

.list {
    list-style: none;
    text-decoration: none;
    margin-left: auto;
}

.header-navigation {
    display: flex;
}

.header-address {
    font-style: normal;
}

.adress-nav {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
}

.site-navigation {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--title-text-color);
    text-decoration: none;
}

/* section 1 */
.hero {
    text-align: center;
    background: var(--title-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white-color);
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--background-color)
}

/* section 2 */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    list-style: none;
    display: flex;
}


/* Section 3 */
.section-we {
    padding-bottom: 120px;
}

.item-margin {
    margin-right: 24px;
}

.item-margin:last-child {
    margin-right: 0;
}

.feature-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 8px;
}

.title-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin: 0;
}

.title-one {
    width: 264px;
}

/* section 3 */
.section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 72px;
    text-transform: capitalize;
    width: 332px;
    margin-left: auto;
    margin-right: auto;
}

.img-flex {
    display: flex;
}

.img-item {
    margin-right: 24px;
}

.img-item:last-child {
    margin-right: 0;
}

/* section 4*/
.section-team {
    background-color: var(--button-background-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team .title {
    margin-bottom: 8px;
}

.item-flex {
    display: flex;
}

.list-img {
    background-color: var(--white-color);
    margin-right: 24px;
}

.list-img:last-child {
    margin-right: 0;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/*footer*/
.footer {
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-background-color);
    margin-top: 17.5px;
}

.logo-footer {
    color: var(--button-background-color);
}

.footer-container {
    width: 264px;
    flex-direction: column;
}

/*portfolio*/

.images-title {
    margin-bottom: 8px;
}

.logo-two {
    color: var(--title-text-color)
}

/*features-button*/

.btn-flex {
    margin-right: 24px;

}

.site-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    border: 0;
}

.site-button:hover,
.site-button:focus {
    color: var(--white-color);
    background-color: var(--background-color);
}

.site-button.one:hover,
.site-button.one:focus {

    background-color: var(--background-color);
}

.list.button-flex {
    margin-bottom: 72px;
    display: flex;
    justify-content: center
}

.btn-flex:last-child {
    margin-right: 0;
}

.one {
    width: 69px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--white-color);
}

.two {
    width: 116px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--cornflower-color);
}

.three {
    border-radius: 4px;
    width: 78px;
    height: 48px;
    background-color: var(--cornflower-color);
}

.four {
    border-radius: 4px;
    width: 101px;
    height: 48px;
    background-color: var(--cornflower-color);
}

.five {
    border-radius: 4px;
    width: 126px;
    height: 48px;
    background-color: var(--cornflower-color);
}

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}

.ocean {
    background: var(--background-color);
    color: var(--white-color);
}

.images-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 8px;
}

.images-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.portfolio-text {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--cornflower-color);
    border-left: 1px solid var(--cornflower-color);
    border-right: 1px solid var(--cornflower-color);
    ;
    border-top: transparent;
}