/* body text SLATE #434455 */
/*  primary brand #4D5AE5 */
/*  shadow,headings #2E2F42 */
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --button-background-color: #f4f4fd;
  --background-color: #404bbf;
  --white-color: #ffffff;
  --cornflower-color: #e7e9fc;
  --customer-background: #E5E5E5;
  --footer-socialmedia: #31D0AA;
  --modal-background: #FCFCFC;
  --modal-label-color: #8E8F99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
}

.container {
  /* width: 1128px; */
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header logo */
.header-page {
  border-bottom: 1px solid var(--cornflower-color);
}

.link {
  text-decoration: none;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-margin {
  margin-right: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.logo2 {
  color: var(--title-text-color);
}

.logo-margin {
  margin-right: 76px;
}

/* site nav */
.site-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
}

.line:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-color: var(--background-color);
  border-radius: 2px;
  bottom: -3px;
}

.site-navigation.link.line {
  color: var(--background-color);
}

.site-navigation.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.site-navigation.link:hover,
.site-navigation.link:focus {
  color: var(--background-color);
}

.adress-nav {
  display: flex;
}

address {
  margin-left: auto;
}

.adress-item:last-child {
  margin-right: 0;
  margin-left: 40px;
}

.adress-navigation.link:hover,
.adress-navigation.link:focus {
  color: var(--background-color);
}

.adress-navigation.link {
  color: var(--primary-text-color);
  padding-top: 24px;
  padding-bottom: 24px;

  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation.link {
  color: var(--title-text-color);
}

.item {
  margin-left: 0;
  margin-right: 40px;
}

.item:last-child {
  margin-right: 0;
}

.list {
  list-style: none;
  text-decoration: none;
  margin-left: auto;
}

.header-navigation {
  display: flex;
}

.header-address {
  font-style: normal;
}

.adress-nav {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
}

.site-navigation {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-text-color);
  text-decoration: none;
}

/* section 1 */
.hero {
  text-align: center;
  background: var(--title-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  color: var(--white-color);
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-color);
}

/* section 2 */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-list {
  list-style: none;
  display: flex;
 flex-direction: column;
 width: 100%;
 
}

.section-we {
  padding-bottom: 120px;
}

.item-margin {
  /* margin-right: 24px; */
  margin-bottom: 72px;
}


/* .icon-svg {
  height: 112px;
  border: transparent;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
} */

.item-margin:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.feature-list .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: capitalize;
  text-align: center;
}

.title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin: 0;
}

.title-one {
  /* width: 264px; */
}

/* section 3 */
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 72px;
  text-transform: capitalize;
}

.img-flex {
  /* display: flex; */
}

.img-item {
  margin-right: 24px;
}

.img-item:last-child {
  margin-right: 0;
}


/* section 4*/
.section-team {
  background-color: var(--button-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team .title {
  margin-bottom: 8px;
}

.team .title-text {
  margin-bottom: 8px;
}

.item-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.list-img {
  background-color: var(--white-color);
  /* margin-right: 24px; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
}

.list-img:last-child {
  margin-right: 0;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list-icon {
  display: flex;
  justify-content: center;
}

.socialmedia-icon {
  width: 40px;
  height: 40px;
}

.team-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:not(:last-child) {
  margin-right: 24px;
}

.team-link:hover,
.team-link:focus {
  background-color: var(--background-color);
}

.socialmedia-icon {
  width: 40px;
  height: 40px;
}

.socialmedia-icon:not(:last-child) {
  margin-right: 24px;
}

/* section 5*/

.customer-icon {
  height: 88px;
  width: calc((100%-16px) / 2);

}

.client-link {
  border: 1px solid var(--modal-label-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--modal-label-color);
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-customers {
   display: flex;
   flex-wrap: wrap;
  
 
}

.customer-icon:not(:last-child) {
  /* margin-right: 24px; */
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--background-color);
  color: var(--background-color);
}

/*footer*/
.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-background-color);
  margin-top: 17.5px;
  text-align: left;
}

.logo-footer {
  color: var(--button-background-color);
}

.footer-container {
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  /* flex-direction: column; */
  /* margin-right: 120px; */
}

.footer-link {
  display: flex;
  justify-content: center;
}

.socialmedia-icon-footer:not(:last-child) {
  margin-right: 16px;
}

.footer-sm-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-link:hover,
.footer-sm-link:focus {
  background-color: var(--footer-socialmedia);
}

.socialmedia-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 72px;
}

/*portfolio*/

.images-title {
  margin-bottom: 8px;
}

.logo-two {
  color: var(--title-text-color);
}

.portfolio-shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-shadow:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translate(0);
}

.portfolio-item:focus .portfolio-overlay-text {
  transform: translate(0);
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--button-background-color);
  background-color: var(--accent-color);
  padding: 40px 32px 0 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-overlay {
  position: relative;
  overflow: hidden;
}

/*features-button*/

.btn-flex {
  margin-right: 24px;
}

.site-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--cornflower-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-button:hover,
.site-button:focus {
  color: var(--white-color);
  background-color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.site-button.one {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-button.one:hover,
.site-button.one:focus {
  background-color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list.button-flex {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}

.btn-flex:last-child {
  margin-right: 0;
}

.one {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*portfolio*/
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.ocean {
  background: var(--background-color);
  color: var(--white-color);
}

.images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.images-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.portfolio-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid var(--cornflower-color);
  border-left: 1px solid var(--cornflower-color);
  border-right: 1px solid var(--cornflower-color);
  border-top: transparent;
}

/*modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal {
  width: 408px;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  padding: 72px 24px 24px;
}

.btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  color: var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--background-color);
  color: #ffffff
}

.icon-color {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus+.modal-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--modal-label-color);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-margin {
  margin-bottom: 16px;
}

.modal-field-check {
  margin-bottom: 24px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--title-text-color);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-textarea {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-textarea:focus {
  border-color: var(--accent-color);
}

.modal-btn {
  display: block;
  border-style: none;
  outline: transparent;
  width: 169px;
  height: 56px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.container-form {
  margin-left: auto;
}

.form-flex {
  /* display: flex;
  gap: 24px; */
}

.footer-form-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer-input {
  border: 1px solid #FFFFFF;
  width: 290px;
  height: 40px;
  background-color: var(--title-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: transparent;
  color: var(--white-color);
}

.footer-input::placeholder {
  color: var(--white-color);
  font-weight: 400;
  font-size: 12px;
}


.footer-btn {
  font-weight: 500;
  font-size: 16px;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  cursor: pointer;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

/*checkbox*/
.check-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--modal-label-color);
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-check:checked + .check-text span {
  background-color: var(--background-color);
  border: none;
  fill: var(--white-color);
}

.link-policy {
  color: var(--accent-color);
  display: block;
  margin-left: 4px;
}
/* media */
@media screen and (min-width:428px) {
  .container {
    max-width: 428px;
  }
  .feature-list {
   width: 396px;
  }
}